<% include adminmenu %>
<% include slider %>

<div id="page">
		<div id="content">
			<div class="box">
				<h2>NTCL</h2>
				<p>
					<strong>NTCL</strong> (National Textile Corporation Limited), (NTC) is a schedule “A” public sector company under the ambit of Ministry of Textile, Government of India, engaged in production of yarn and fabric through its 23 mills in operation, located all over India with 8.2 lac spindles and 408 looms producing around 550 lac kgs of yarn and 200 lac meters of fabric per annum. NTC also manufactures garments through its JV Companies.
				</p>
			</div>
			<div class="box" id="content-box1">
				<h3><a href="http://www.ntcltd.org/Album.aspx">Photo Gallery</a></h3>
				<marquee direction="down" loop="infinite" behavior="scroll" height="300">
				<ul class="section-list">
					<li class="first">
						<img class="pic alignleft" src="../images/ntc01.jpg" width="300" height="200" alt="" />
					</li>
					<li>
						<img class="pic alignleft" src="../images/ntc02.jpg" width="300" height="200" alt="" />
					</li>
					<li>
						<img class="pic alignleft" src="../images/ntc03.jpg" width="300" height="200" alt="" />
					</li>
					<li class="last">
						<img class="pic alignleft" src="../images/ntc04.jpg" width="300" height="200" alt="" />
					</li>
				</ul>
				</marquee>
			</div>
			<div class="box" id="content-box2">
				<h3>Join Us</h3>
				<p>
					Become a part of the NTCL family
				</p>
				<ul class="list">
					<li class="http://www.ntcltd.org/career_form.aspx"><a href="#">Recruitment</a></li>
					<li><a href="http://www.ntcltd.org/career_results.aspx">Interview Results</a></li>
					<li class="last"><a href="http://www.ntcltd.org/Registration_form.aspx">Registration Form</a></li>
				</ul>
			</div>
			<br class="clearfix" />
		</div>
		



		<div id="sidebar">
			<div class="box">
				<h3>Important Links</h3>
				<ul class="list">
					<li class="first"><a href="http://www.ntcltd.org/News_Details.aspx">Organizational News</a></li>
					<li><a href="http://www.ntcltd.org/Tender.aspx">Tenders</a></li>
					<li><a href="http://www.ntcltd.org/Product.aspx">Products</a></li>
					<li><a href="http://mis.ntcltd.org/myaccount/">NTC-Apps</a></li>
					<li class="last"><a href="http://www.ntcltd.org/ouroffices.aspx">Contact Us</a></li>
				</ul>
			</div>
			<div class="box">
				<h3>Activity Log</h3>
				<div class="date-list">
					<ul class="list date-list">
						<li class="first"><span class="date">24/06</span> <a href="#">Project Started</a></li>
						<li><span class="date">24/06</span> <a href="#">Template Installed</a></li>
						<li><span class="date">24/06</span> <a href="#">Template Edited</a></li>
						<li class="last"><span class="date">24/06</span> <a href="#">UI Completed</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br class="clearfix" />
	</div>
	
<% include pagebottom %>


