<!DOCTYPE html>
<html>
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>NTC-Bhopal</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
<link href="../images/logo.gif" rel="shortcut icon" type="image/jpg"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery.dropotron-1.0.js"></script>
<script type="text/javascript" src="../javascripts/jquery.slidertron-1.1.js"></script>
<script type="text/javascript">
	$(function() {
		$('#menu > ul').dropotron({
			mode: 'fade',
			globalOffsetY: 11,
			offsetY: -15
		});
		$('#slider').slidertron({
			viewerSelector: '.viewer',
			indicatorSelector: '.indicator span',
			reelSelector: '.reel',
			slidesSelector: '.slide',
			speed: 'slow',
			advanceDelay: 4000
		});
	});
</script>
</head>
<body>


<div id="wrapper">
	

	
	<div id="header">
		<div id="logo">
			<h1>New Bhopal Textile Mills, Bhopal</h1>
		</div>
	</div>
	


	
	<div id="menu">
		<ul>
			<li class="first"><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li class="last"><a href="/login">Login</a></li>
		</ul>
		<br class="clearfix" />
	</div>