<div id="slider">
		<div class="viewer">
			<div class="reel">
				<div class="slide">
					<img src="../images/ntcslide03.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="../images/ntcslide05.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="../images/ntcslide01.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="../images/ntcslide02.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="../images/ntcslide04.jpg" alt="" />
				</div>
			</div>
		</div>
		<div class="indicator">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>5</span>
		</div>
	</div>
	
